$trophy-primary-color: #FCD749;
$trophy-highlight-color: #FFE580;
$heart-primary-color: #70D0AE;

$homepage-background-color: #131E23;
$homepage-primary-color: #346bc4;
$homepage-highlight-color: #395B98;

$homepage-section-width: 700px;

$header-primary-gray: #CAD7DD;
$header-secondary-gray: #4D595F;

$primary-white: #e1edff;
$primary-green: #70D0AE;
$primary-red: #D04B4B;

$vc-background-color: #131E23;
$vc-input-gray: #2A343E;
$vc-button-default-gray: #424C55;
$vc-button-highlight-gray: #9EA5AC;
$vc-blue: #346bc4;
$vc-white: #D9E8FF;

$primary-blue: #235CB5;
$secondary-blue: #5688D6;
$white-blue: #DDEAFF;
$button-highlight-blue: #3269BE;

$primary-purple: #484F9E;
$secondary-purple: #6D74BE;
$white-purple: #EFEFFF;
$button-highlight-purple: #575EB7;